.blank {
  height: 100px;
}

.profileBox {
  width: 300px;
  margin: auto;
  border: 1px solid black;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 20px;
}

.itemLabel {
  padding-top: 10px;
}
.itemLabel_button {
  margin: 15px;
}
